.app {
  text-align: center;
}
.app .img {
  width: 180px;
  margin-top: 20px;
}
.actor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: opacity 0.3s, filter 0.3s;
}

.blur-background {
  opacity: 0.5;
  filter: blur(5px);
}

.detail-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
